.single_image {
  display: block;
  width: 570px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
}

.album_image {
  float: left;
  width: 270px;
  height: 200px;
  margin-left: 20px;
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  text-align: center;
}

.album_image img {
  
}

.image_options {
  float: right;
  font-size: 85%;
  color: #ccc;
}

.image_options a {
  text-decoration: none;
  color: #aaa;
}

.album_info {
  margin-left: 35px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.album_info .title {
  font-weight: bold;
}

.album_info .album_stats {
  font-size: 80%;
  color: #aaa;
}


/* Album index */
.albums .album {
  float: left;
  width: 200px;
  height: 220px;
  border: 1px solid #ccc;
  margin: 15px 0 15px 20px;
}

.albums .image {
  margin-left: 17px;
  margin-top: 17px;
}

.albums .album_info {
  margin-left: 17px;
  margin-top: 25px;
}

.albums .album_info .title a {
  font-weight: bold;
  font-size: 90%;
  text-decoration: none;
  color: #666;
}

.albums .album_info .title a:hover {
  text-decoration: underline;
}

.albums .album_info .album_stats {
  margin-top: 3px;
  font-size: 75%;
  color: #aaa;
}

.album_image {
  float: left;
  width: 270px;
  height: 200px;
  margin-left: 20px;
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  text-align: center;
}

.album_info .back_button {
  float: right;
  margin-right: 20px;
}

.album_info .back_button a {
  text-decoration:none;
  color: #305F79;
}

.album_info .back_button a:hover {
  text-decoration: underline;
}

#side_links .button {
  background: url(/images/tool-button.png) no-repeat;
  font-size: 110%;
  width: 190px;
  height: 39px;
  padding-left: 20px;
  padding-top: 15px;
}

#side_links .button a {
  font-weight: bold;
  display: block;
  text-decoration: none;
  height: 39px;
  color: #2B6179;
}

#side_links .button:hover {
  background: url(/images/tool-button-hover.png) no-repeat;
}