body {
  font-family: arial;
  color: #333;
  background: #9DCDD9 url(/images/background.png) repeat-x;
  margin: 0;
  margin-bottom: 30px;
}

img {
  border: none;
}

#content, #footer {
  width: 970px;
  margin: 0 auto;
  background-color: #fff;
}

#header {
  color: white;
	margin: 30px auto;
	padding: 0px;
	position: relative;
	width: 970px;
}

#header #user_nav {
  position: absolute;
  top: 40px;
  right: 0px;
}

#header #user_nav a {
  color: #fff;
}

#content {
  border: 1px solid #ccc;
  padding-top: 20px;
/*  padding: 20px;*/
}

#content h1 {
  color: #AC2835;
  margin: 0;
}

#content h2 {
  color: #373737;
  margin: 0;
  margin-bottom: 30px;
}

#content #sidebar {
  float: right;
  position: relative;
/*  width: 200px;*/
/*  padding: 15px;*/
}

#map_canvas{
	border: 1px solid #CCC;
}

.hide_map{
	position: absolute;
	bottom: 0;
	right: 0;
	background: #f6f692;
	z-index: 17000;
	margin-right: 2px;
	padding: 5px 12px;
	border-top: 1px solid #CCC;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
	border-top-right-radius: 12px;
	-moz-border-radius-topright: 12px;
	border-top-left-radius: 12px;
	-moz-border-radius-topleft: 12px;

}



.hide_map a{
	outline: 0;
	text-decoration: none;
	font-size: 80%;
	text-transform: uppercase;
	color: #2d607b;
	font-weight: bold;
}

.hide_map a:hover{
	text-decoration: none;
}

/** EVENTS **/

.full-event {
	margin: 0 10px;
	font-size: 9pt;
}

.full-event .title {
	font-weight: bold;
}

.full-event img {
	margin-right: 3px;
	position: relative;
	top: 2px;
}

.full-event .info {
	margin: 0 18px;
	padding-bottom: 10px;
}

.full-event .description {
	margin-top: 5px;
}