/*
	root element for the scrollable.
	when scrolling occurs this element stays still.
*/
.scrollable {
	/* required settings */
	position:relative;
	overflow:hidden;
	width: 720px;
	height:300px;
	border: 1px solid red;
	margin-top: 20px;
}

/*
	root element for scrollable items. Must be absolutely positioned
	and it should have a extremely large width to accommodate scrollable items.
	it's enough that you set width and height for the root element and
	not for this element.
*/
.scrollable .items {
	/* this cannot be too large */
	width:20000em;
	position:absolute;
	margin: 0;
}

.scrollable .links {
  text-align: center;
  margin-top: 5px;
  font-size: 80%;
}

/*
	a single item. must be floated in horizontal scrolling.
	typically, this element is the one that *you* will style
	the most.
*/
.items .item {
	float:left;
}

.items div div.date {
  float: left;
  margin: 10px 0px 20px 0px;
  background-color: #fff;
  border-left: 1px solid gray;
  border-top: 1px solid gray;
  width: 178px;
  height: 271px;
}

.items div div.date.first {
  border-left: none;
}

.scrollable .active {
	border:2px solid #000;
	position:relative;
	cursor:default;
}

.items div div.date .title {
  font-size: 110%;
  padding: 3px;
}

.item .date .title {
  text-align: center;
  border-bottom: 1px solid red;
}

.event_tiny {
  border-top: 1px solid #ccc;
  margin: 5px 10px 5px 10px;
  padding-top: 3px;
  font-size: 95%;
}

.event_tiny.first {
  border: none;
}

.event_tiny a {
  font-size: 80%;
  text-decoration: none;
}

.event_tiny a:hover {
  text-decoration: underline;
}

#share_it {
  position: absolute;
  left: 0;
  width: 260px;
  height: 30px;
  text-align: right;
  vertical-align: middle;
  padding: 12px 15px 0 0;
  font-size: 110%;
  background-color: red;
}

#print_itinerary {
  position: absolute;
  left: 0;
  top: 65px;
  height: 30px;
  width: 215px;
  padding: 12px 0 0 15px;
  background-color: blue;
}

#share_it a,
#print_itinerary a {
  display: block;
  text-decoration: none;
}

#share_it a:hover,
#print_itinerary a:hover {
  text-decoration: underline;
}

#open_events {
  border: 1px solid green;
  width: 700px;
  padding: 10px;
}
