h1 a {
  font-size: 10px;
  margin-left: 10px;
  color: #ccc;
  text-decoration: none;
}

img {
	border: none;
}

#trip-info, #trip-map, #trip-head {
	padding: 0 20px;
}

#trip-info {
	background-image: url(../images/background-fade.png);
	background-repeat: repeat-x;
}


.itinerary {
  width: 726px; 
  margin-bottom: 10px;
}

.itinerary span {
  font-size: 120%;
  color: #3B5A76;
}

.itinerary a.add_event {
  float: right;
}

.nav img.browse {
  cursor: pointer;
}

.nav img.browse.disabled {
  display: none;
}

/** ITENERARY **/

#itenerary {
	width: 690px;
	margin-top: 25px;
	overflow: visible;
	padding-top: 5px;
}

#itenerary h3 {
	font-size: 1.3em;
	display: inline;
}

#itenerary a.add_event {
	float: right;
	margin-top: 13px
	
}

#itenerary .nav {
	background-color:#A2CED0;
	border-bottom:1px solid #A2CED0;
	height:20px;
	padding-top:10px;
	margin-top:15px;
}

#itenerary div.slide {
	border: 2px;
}

#itenerary .nav .back {
	bottom:10px;
	float:left;
	left:5px;
	position:relative;
}

#itenerary .nav .forward {
	float: right;
	position: relative;
	bottom: 10px;
	right: 5px;
}

#itenerary .nav .daily {
	background-image: url(../images/daily.png);
	background-repeat: no-repeat;
	cursor: pointer;
}

#itenerary .nav .overview {
	background-image: url(../images/overview.png);
	background-repeat: no-repeat;
	cursor: pointer;
}

#itenerary .nav .photo {
	background-image: url(../images/photo.png);
	background-repeat: no-repeat;
	cursor: pointer;
}

#itenerary .nav .journal {
	background-image: url(../images/journal.png);
	background-repeat: no-repeat;
	cursor: pointer;
}

#itenerary ul {
	list-style-type: none;
	margin: auto;
}

#itenerary ul.days {
	height: 400px;
	margin: 0;
	padding: 0;
}

#itenerary .nav ul {
	position: relative;
	left: 200px;
}

#itenerary .nav li {
	float: left;
	padding: 2px;
	padding-bottom: 10px;
	height: 30px;
	width: 120px;
	position: relative;
	bottom: 19px;
}

#itenerary li.day {
	float: left;
	width: 170px;
	border: 1px solid #F6F791;
	height: 100%;
}

#itenerary li.day.first {
	border-left: none;
}

#itenerary li.day.last {
	border-right: none;
}

#itenerary .day .head {
	background-color:#F6F791;
	height:25px;
	padding-top:7px;
	text-align:center;
	width: 100%;
	font-weight: bold;
	font-size: 12pt;
	color: #3C6079
}


#itenerary .nav li.daily.current {
	background-image: url(../images/daily-active.png);
}
#itenerary .nav li.overview.current {
	background-image: url(../images/overview-active.png);
}

#itenerary .nav li.photo.current {
	background-image: url(../images/photo-active.png);
}
#itenerary .nav li.journal.current {
	background-image: url(../images/journal-active.png);
}


#itenerary .tab-panes {
	border: 2px solid #F6F791;
	position: relative;
	top: -21px;
}

#itenerary .daily-view .days {
	float: none;
	position: relative;
/*	min-height: 300px;*/
}


#itenerary .daily-view .item {
	width: 690px;
/*	float: none;*/
/*	min-height: 300px;*/
}

#next-day {
	display:none;
}

#itenerary .daily-view .item .body {
	margin-top: 10px;
}
#itenerary .daily-view .col* {
	
}
#itenerary .daily-view .col-1 {
	width: 50%;
	float: left;
	border-right: 1px solid yellow;
	min-height: 250px;
}

#itenerary .daily-view .col-2 {
	margin-left: 50%;
	min-height: 250px;
}
.links a.next {
  position: absolute;
  right: 5px;
}

.links a.browse.disabled {
  display: none;
}

/*
	root element for the scrollable.
	when scrolling occurs this element stays still.
*/
.scrollable, .daily-view {
	/* required settings */
	position:relative;
	overflow:hidden;
	width: 687px;
	height:300px;
/*	border: 3px solid #F6F692;*/
	border-top: none;
}

/*
	root element for scrollable items. Must be absolutely positioned
	and it should have a extremely large width to accommodate scrollable items.
	it's enough that you set width and height for the root element and
	not for this element.
*/
.scrollable .items, .daily-view .days {
	/* this cannot be too large */
	width:20000em;
	position:absolute;
	margin: 0;
}

/*
	a single item. must be floated in horizontal scrolling.
	typically, this element is the one that *you* will style
	the most.
*/
.daily-view .days .day {
	width: 720;
}
.items .item {
	float:left;
}

.items div div.date {
  float: left;
  background-color: #fff;
  border-left: 3px solid #E2E9A3;
  width: 178px;
  height: 300px;
}

.items div div.daily-date {
  float: left;
  background-color: #fff;
  border-left: 3px solid #E2E9A3;
  width: 700px;
  height: 300px;
}

.items div div.date.first {
  border-left: none;
}

.scrollable .active {
	border:2px solid #000;
	position:relative;
	cursor:default;
}

.items div div.date .title {
  font-size: 105%;
  padding: 5px;
  color: #2D607B;
}

.item .date .title {
  text-align: center;
  background-color: #F6F692;
}

.event_tiny {
  border-top: 1px solid #ccc;
  margin: 5px 10px 5px 10px;
  padding-top: 3px;
  font-size: 95%;
}

.event_tiny.first {
  border: none;
}

.event_tiny a {
  font-size: 80%;
  text-decoration: none;
}

.event_tiny a:hover {
  text-decoration: underline;
}

#itenerary-menu {
	position: absolute;
	top: 630px;
}

#share_it {
  position: relative;
  left: 23px;
  top: 83px;
  width: 260px;
  height: 30px;
}

#share_it img:hover {
  cursor: pointer;
}

#open_events {
  border: 3px solid #E2E9A3;
  width: 700px;
  padding: 10px;
}

/* UNLESS YOU KNOW WHAT YOU'RE DOING, DO NOT CHANGE THE FOLLOWING RULES */
.easy-accordion{display:block;position:relative;overflow:hidden;padding:0;margin:0}
.easy-accordion dt,.easy-accordion dd{margin:0;padding:0}
.easy-accordion dt,.easy-accordion dd{position:absolute}
.easy-accordion dt{margin-bottom:0;margin-left:0;z-index:5;/* Safari */ -webkit-transform: rotate(-90deg); /* Firefox */ -moz-transform: rotate(-90deg);-moz-transform-origin: 20px 0px;  /* Internet Explorer */ filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);cursor:pointer;}
.easy-accordion dd{z-index:1;opacity:0;overflow:hidden}
.easy-accordion dd.active{opacity:1;}
.easy-accordion dd.no-more-active{z-index:2;opacity:1}
.easy-accordion dd.active{z-index:3}
.easy-accordion dd.plus{z-index:4}
.easy-accordion .slide-number{position:absolute;bottom:0;left:10px;font-weight:normal;font-size:1.1em;/* Safari */ -webkit-transform: rotate(90deg); /* Firefox */ -moz-transform: rotate(90deg);  /* Internet Explorer */ filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);}


/* Style these */
#new_trip dd p {line-height:120%}

#new_trip{width:800px;height:245px;padding:30px;background:#fff; margin: 0 auto;}
#new_trip dl{width:800px;height:245px}
#new_trip dt{height:46px;line-height:44px;text-align:right;padding:0 15px 0 0;font-size:0.8em;font-weight:bold;font-family: Tahoma, Geneva, sans-serif;text-transform:uppercase;letter-spacing:1px;background:#fff url(/images/slide-title-inactive-1.jpg) 0 0 no-repeat;color:#26526c}
#new_trip dt.active{cursor:pointer;color:#fff;background:#fff url(/images/slide-title-active-1.jpg) 0 0 no-repeat}
#new_trip dt.hover{color:#68889b;}
#new_trip dt.active.hover{color:#fff}
#new_trip dd{padding:25px;background:url(/images/slide.jpg) bottom left repeat-x;border:1px solid #dbe9ea;border-left:0;margin-right:3px}
#new_trip .slide-number{color:#68889b;left:10px;font-weight:bold}
#new_trip .active .slide-number{color:#fff;}
#new_trip a{color:#68889b}
#new_trip dd img{float:right;margin:0 0 0 30px;}
#new_trip h2{font-size:2.5em;margin-top:10px}
#new_trip .more{padding-top:10px;display:block}


#new_trip dd div.field_with_errors {
  display: inline;
}

#new_trip dd a.next,
#new_trip dd input[type=submit] {
  position: absolute;
  right: 30px;
  bottom: 25px;
  display: block;
}

#new_trip dd a.prev {
  position: absolute;
  left: 30px;
  bottom: 25px;
  display: block;
}

/********** SORTABLE STYLES ************/
#sortable , .start_point{ 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
	width: 60%; 
}

#sortable li , .start_point li{ 
	margin: 0 3px 3px 3px; 
	padding: 0.4em; 
	padding-left: 1.5em; 
	font-size: 1.4em; 
	height: 18px; 	
	background:#f1f1f1; 
	border:1px solid black
}

#sortable li span { 
	position: absolute; 
	margin-left: -1.3em; 
}

.ui-autocomplete {
    background-color: white;
    width: 300px;
    border: 1px solid #cfcfcf;
    list-style-type: none;
    padding-left: 0px;
}

.ui-menu-item:hover{
	background-color: #eeffee;
}


/****** END SORTABLE *****/

/****** MAP STYLES *******/

/****** Event form *******/

#event-form-overlay {
	background-color: white;
	color: black;
	height: 500px;
	width: 650px;
	margin-top: 0px;
	position: absolute;
	display: none;
}

#event-form-overlay div.contentWrap {
	height:500px;
	width: 650px;
	overflow-y:auto;
}

#event-form-overlay .header {
  background-color: #A2CECF;
}

#event-form-overlay .header .title {
  margin-left: 20px;
}

#event-form-overlay .header a {
  float: right;
  margin-right: 20px;
}

.event_form {
  padding: 10px;
}

.event_form table {
  width: 400px;
  margin: 0 auto;
  color: #333;
  border-collapse: collapse;
}

.event_form table th,
.event_form table td,
.event_form table input[type=text] {
  padding: 5px;
}

.event_form table th {
  text-align: right;
  font-weight: normal;
}

.event_form input[type=text] {
  width: 200px;
  border: 1px solid #ccc;
}

.event_form textarea {
  height: 70px;
  width: 250px;
  border: 1px solid #ccc;
}

.event_form .errors {
  display: none;
  color: #A72A3C;
  margin: 5px;
}

.event_form input.field_with_error {
  border: 1px solid #A72A3C;
}

/****** /Event form ******/