<div class="header">
  <%= image_tag 'event-form-header.png', :class => 'title' %>
  <a href="#" onclick="$open_overlay.close(); return false;"><%= image_tag 'event-form-close.png' %></a>
</div>

<%= form_for([@trip, @event], :html => {:class => 'event_form'}) do |f| %>
<%= render 'form', :f => f, :buttons => [image_submit_tag('event-finish.png')] %>
<% end %>
