<% if @event.update_attributes(params[:event]) %>
  $open_overlay.close();
  $("#day_overview").html("<%= escape_javascript(render(:partial => 'trips/day_overview'))%>");
  success('Event successfully saved.', 'notice');
<% else %>
$('#<%= @event.errors.keys.map {|x| "event_#{x.to_s}" }.join(",#") %>').addClass('field_with_error');
$('.event_form .error_list').html("<%= raw @event.errors.full_messages.map {|x| "<li>#{x}</li>"}.join %>");
$('.event_form .errors').show();
<% end %>
