<!DOCTYPE html>
<html>
<head>
  <title>Plan it. Live it. Share it.</title>
  <style>
	html, body{
		background: #4C859E;
	}
  </style>
 </head>
 <body>
	<div>
		<img src="/images/placeholder.png" alt"Plan It. Live It. Share It." />
	</div>
 </body>
 </html>