<div class="errors">
  The following errors prevented the album from being saved:
  <ul class="error_list"></ul>
</div>

<table>
  <tr>
    <th><%= f.label :title %></th>
	  <td><%= f.text_field :title %></td>
  </tr>

  <tr>
    <th></th>
	  <td><%= image_submit_tag 'create-album.png' %></td>
	</tr>
</table>
